<!--person_items.html-->>
{% extends "base.html" %}
{% block content %}
<h2>اموال شخص</h2>
<form method="post">
    {{ form.hidden_tag() }}
    <div>
        {{ form.person_id.label }}<br>
        {{ form.person_id() }}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>

{% if items is not none %}
    <h3>اموال در اختیار {{ person.full_name }}</h3>
    <table border="1">
        <tr>
            <th>نام کالا</th>
            <th>شماره اموال</th>
            <th>تعداد</th>
            <th>تاریخ و ساعت خروج</th>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item.item_spec.item_name }}</td>
            <td>{{ item.item_spec.asset_number }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.date_out }} {{ item.time_out }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock %}
